<header class="landing-header">
  <a routerLink="/" class="brand-logo">NEXORA</a>

  <ul class="landing-nav-links">
    <li><a href="#inicio">Início</a></li>
    <li><a href="#secao-sobre">Sobre</a></li>
    <li><a href="#contato">Contato</a></li>
    <li *ngIf="isLogado" ><a routerLink="/produtos" class="nav-logado">Produtos</a></li>
    <li *ngIf="isAdmin">
      <a routerLink="/admin" class="nav-admin">Administrador</a>
    </li>
  </ul>

  <div class="landing-header-actions">
    <!-- Não logado -->
    <ng-container *ngIf="!isLogado">
      <a routerLink="/login" class="btn btn--secondary">Entrar</a>
      <a routerLink="/cadastrar" class="btn btn--primary">Cadastrar</a>
    </ng-container>

    <!-- Logado -->
    <ng-container *ngIf="isLogado">
      <a routerLink="/produtos" class="btn btn--secondary">Ver Produtos</a>
      <button class="btn btn--primary" (click)="sair()">Sair</button>
    </ng-container>
  </div>

  <button type="button" class="landing-menu-toggle" aria-label="Abrir menu de navegação">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>